<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identifikasi Rempah</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="/static/farmakognosi/assets/css/normalize.css">
    <link rel="stylesheet" href="/static/farmakognosi/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/farmakognosi/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/farmakognosi/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/farmakognosi/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/farmakognosi/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/static/farmakognosi/assets/scss/style.css">
    <link rel="stylesheet" href="/static/farmakognosi/assets/scss/widgets.css">
    <link href="/static/farmakognosi/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body>

    <!-- Left Panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">
                <h5>Identifikasi Rempah Rimpang (Jahe, Lengkuas, Kunyit)</h5>
            </div>

        </header><!-- /header -->
        <!-- Header-->
        <div class="content mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Masukkan Gambar</h4>
                    </div>
                    <div class="card-body">
                        <form action="/submit" method="post" enctype="multipart/form-data">
                            <div>
                                <i>*pilih file dengan ekstensi .png, .jpg, .jpeg</i>
                            </div>
                            <br>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Pilih File</label></div>
                                <div class="col-12 col-md-9"><input type="file" id="file" name="file"
                                        class="form-control-file">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" style="margin-left: 15px;"></div>
                                <button type="submit" class="btn btn-primary" value="Upload">Prediksi</button>
                            </div>
                            <br>
                            <div>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-warning" role="alert">
                                    <div>
                                      {{message}}
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Hasil Klasifikasi</h4>
                    </div>
                    <div class="card-body text-center">
                        
                        {% if predictiondensenet201 %}
                        <img src="{{img_path}}" alt="gambar prediksi" height="50%" width="50%"><br>
                        <h4>----------------------</h4>
                        <h4>Prediksi : <i> {{predictiondensenet201}} </i></h4>
                        <h4>Akurasi : <i> {{confidencedensenet201}} </i></h4>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->


        <!--/.col-->


        <!--/.col-->


        <!--/.col-->


        <!-- Right Panel -->

        <script src="/static/farmakognosi/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="/static/farmakognosi/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="/static/farmakognosi/assets/js/popper.min.js"></script>
        <script src="/static/farmakognosi/assets/js/plugins.js"></script>
        <script src="/static/farmakognosi/assets/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="/static/farmakognosi/assets/js/main.js"></script>
        

        <script src="/static/farmakognosi/assets/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="/static/farmakognosi/assets/js/dashboard.js"></script>
        <script src="/static/farmakognosi/assets/js/widgets.js"></script>
        <script src="/static/farmakognosi/assets/js/lib/vector-map/jquery.vmap.js"></script>
        <script src="/static/farmakognosi/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
        <script src="/static/farmakognosi/assets/js/lib/vector-map/jquery.vmap.sampledata.js">
        </script>
        <script src="/static/farmakognosi/assets/js/lib/vector-map/country/jquery.vmap.world.js">
        </script>
        <script>
            (function ($) {
                "use strict";

                jQuery('#vmap').vectorMap({
                    map: 'world_en',
                    backgroundColor: null,
                    color: '#ffffff',
                    hoverOpacity: 0.7,
                    selectedColor: '#1de9b6',
                    enableZoom: true,
                    showTooltip: true,
                    values: sample_data,
                    scaleColors: ['#1de9b6', '#03a9f5'],
                    normalizeFunction: 'polynomial'
                });
            })(jQuery);
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const form = document.querySelector("form");
            const confidencedensenet201 = document.getElementById("confidencedensenet201");
            const predictiondensenet201 = document.getElementById("predictiondensenet201");
            // const confidencevgg = document.getElementById("confidencevgg");
            // const predictionvgg = document.getElementById("predictionvgg");
            // const confidenceexception= document.getElementById("confidenceexception");
            // const predictionxception = document.getElementById("predictionxception");
            // const confidencecnn = document.getElementById("confidencecnn");
            // const predictioncnn = document.getElementById("predictioncnn");
    
            form.addEventListener("submit", (e) => {
            confidencedensenet201.innerHTML = '';
            predictiondensenet201.innerHTML = '';
            // confidencevgg.innerHTML = '';
            // predictionvgg.innerHTML = '';
            // confidenceexception.innerHTML = '';
            // predictionxception.innerHTML = '';
            // confidencecnn.innerHTML = '';
            // predictioncnn.innerHTML = '';
            e.preventDefault();
            const formData = new FormData(form);
            axios
                .post("/submit", formData, {
                headers: {
                    "Content-Type": "multipart/form-data",
                },
                })
                .then((res) => {
                document.getElementById("image").src = `${res.data.data.filename}`;
                confidencedensenet201.append(res.data.data.confidencedensenet201);
                predictiondensenet201.append(res.data.data.predictiondensenet201);
                // confidencevgg.append(res.data.data.confidencevgg);
                // predictionvgg.append(res.data.data.predictionvgg);
                // confidencexception.append(res.data.data.confidenceexception);
                // predictionxception.append(res.data.data.predictionxception);
                // confidencecnn.append(res.data.data.confidencecnn);
                // predictioncnn.append(res.data.data.predictioncnn);
                console.log(res.data.data);
                })
                .catch((err) => {
                console.log(err);
                });
            });
        </script>
</body>



</html>